.cr {
  width: 120px;
  padding-top: 20px;
  padding-bottom: 5px;
  position: absolute;
  text-align: center;
  color: #f0f0f0;
  font-weight: bold;

  z-index: 99999;
  pointer-events: none;
}

.cr-sticky {
  position: fixed;
}

.cr-top {
  top: -7px;
}
.cr-bottom {
  bottom: 25px;
}
.cr-left {
  left: -42px;
}
.cr-right {
  right: -50px;
}

.cr-top.cr-left,
.cr-bottom.cr-right {
  transform: rotate(-45deg);
}

.cr-top.cr-right,
.cr-bottom.cr-left {
  transform: rotate(45deg);
}

.cr-blue {
  background-color: #39d;
}
