<div [formGroup]="form" class="container-fluid px-0">
  <div class="row">
    <div class="col-11">
      <div class="form-floating">
        <input
          type="number"
          step="0.1"
          class="form-control"
          id="ratioLimit"
          [placeholder]="'components.share-limit.ratio-limit' | translate"
          formControlName="ratioLimit"
          min="0"
        />
        <label for="ratioLimit">{{ 'components.share-limit.ratio-limit' | translate }}</label>
      </div>
    </div>

    <div class="col-1 d-flex align-items-center">
      <bb-popover
        class="mt-2"
        [subject]="'components.share-limit.popover.ratio-limit.title' | translate"
        [description]="'components.share-limit.popover.ratio-limit.description' | translate"
        placement="left"
      ></bb-popover>
    </div>

    <div class="col-12 mb-3">
      <div class="form-text mt-1 ms-2">
        {{ form.controls.ratioLimit.value ?? -1 | ratioLimit }}
      </div>
    </div>

    <div class="col-11">
      <div class="input-group">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            id="seedingTimeLimit"
            [placeholder]="'components.share-limit.seeding-time-limit' | translate"
            formControlName="seedingTimeLimit"
            min="0"
          />
          <label for="seedingTimeLimit">{{
            'components.share-limit.seeding-time-limit' | translate
          }}</label>
        </div>
        <span class="input-group-text">{{ 'components.share-limit.time-unit' | translate }}</span>
      </div>
    </div>

    <div class="col-1 d-flex align-items-center">
      <bb-popover
        class="mt-2"
        [subject]="'components.share-limit.popover.seeding-time-limit.title' | translate"
        [description]="'components.share-limit.popover.seeding-time-limit.description' | translate"
        placement="left"
      ></bb-popover>
    </div>

    <div class="col-12 mb-3">
      <div class="form-text mt-1 ms-2">
        {{ form.controls.seedingTimeLimit.value ?? -1 | timeLimit }}
      </div>
    </div>

    @if (!hideInactive) {
      <div class="col-11">
        <div class="input-group">
          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              id="inactiveSeedingTimeLimit"
              [placeholder]="'components.share-limit.inactive-seeding-time-limit' | translate"
              formControlName="inactiveSeedingTimeLimit"
              min="0"
            />
            <label for="inactiveSeedingTimeLimit">{{
              'components.share-limit.inactive-seeding-time-limit' | translate
            }}</label>
          </div>
          <span class="input-group-text">{{ 'components.share-limit.time-unit' | translate }}</span>
        </div>
      </div>

      <div class="col-1 d-flex align-items-center">
        <bb-popover
          class="mt-2"
          [subject]="'components.share-limit.popover.inactive-seeding-time-limit.title' | translate"
          [description]="
            'components.share-limit.popover.inactive-seeding-time-limit.description' | translate
          "
          placement="left"
        ></bb-popover>
      </div>

      <div class="col-12">
        <div class="form-text mt-1 ms-2">
          {{ form.controls.inactiveSeedingTimeLimit.value ?? -1 | timeLimit }}
        </div>
      </div>
    }
  </div>
</div>
