# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/out
/electron-out
/dist-electron
/packages/electron/dist
/packages/electron/vitest.config.js
/packages/docs/dist
/packages/app/dist

# Node
/node_modules
packages/*/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
/packages/app/.angular/
.sass-cache/
/connect.lock
/coverage
/packages/app/coverage
/packages/electron/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db

# Visual brainstorming sessions
.superpowers/

# Local git worktrees
/.worktrees/