@if (settings$ | async) {
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <p>
          {{ 'pages.settings.tab.status-bar.description' | translate }}
        </p>
      </div>
    </div>
    <div cdkDropListGroup class="status-bar-config">
      <fieldset class="bb-fieldset mt-2 mb-1">
        <legend>{{ 'pages.settings.tab.status-bar.label.widget-pool' | translate }}</legend>
        <div
          cdkDropList
          #availableList="cdkDropList"
          [cdkDropListData]="available"
          cdkDropListOrientation="horizontal"
          class="widget-container horizontal"
          (cdkDropListDropped)="drop($event)"
        >
          @for (widget of available; track widget.id) {
            <span class="badge status-pill" cdkDrag>{{ widget.label }}</span>
          }
        </div>
      </fieldset>

      <fieldset class="bb-fieldset mt-0">
        <legend>{{ 'pages.settings.tab.status-bar.label.widgets' | translate }}</legend>
        <div class="container-fluid mb-3">
          <div class="row">
            <div class="col-md-6 col-12">
              <p>{{ 'pages.settings.tab.status-bar.label.left' | translate }}</p>
              <div
                cdkDropList
                #leftList="cdkDropList"
                [cdkDropListData]="left"
                class="widget-container vertical"
                (cdkDropListDropped)="drop($event)"
              >
                @for (widget of left; track widget.id) {
                  <div class="widget-item" cdkDrag>
                    <div class="drag-handle" cdkDragHandle>
                      <fa-icon [icon]="faGripVertical"></fa-icon>
                    </div>
                    <span class="widget-label">{{ widget.label }}</span>
                  </div>
                } @empty {
                  <div class="empty-list-message">
                    Drag widgets from the pool to the left column.
                  </div>
                }
              </div>
            </div>
            <div class="col-md-6 col-12">
              <p>{{ 'pages.settings.tab.status-bar.label.right' | translate }}</p>
              <div
                cdkDropList
                #rightList="cdkDropList"
                [cdkDropListData]="right"
                class="widget-container vertical"
                (cdkDropListDropped)="drop($event)"
              >
                @for (widget of right; track widget.id) {
                  <div class="widget-item" cdkDrag>
                    <div class="drag-handle" cdkDragHandle>
                      <fa-icon [icon]="faGripVertical"></fa-icon>
                    </div>
                    <span class="widget-label">{{ widget.label }}</span>
                  </div>
                } @empty {
                  <div class="empty-list-message">
                    Drag widgets from the pool to the right column.
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
} @else {
  <app-bb-spinner></app-bb-spinner>
}
