.bb-modal-tabs .nav-link.disabled {
  pointer-events: auto;
}

.bb-footer-btn {
  display: inline-flex;
  align-items: center;

  ::ng-deep {
    .btn-icon,
    .btn-text {
      display: inline-flex;
      align-items: center;
      padding: 0 !important;
      background: none !important;
    }

    .btn-icon {
      margin-left: 0.4375rem;
    }
  }
}
