.bb-server-list {
  --bs-list-group-bg: transparent;
}

.bb-server-row {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--bs-border-color);
  padding: 0.6875rem 0.25rem;
  transition: background-color 0.15s ease-in-out;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background-color: var(--bb-hover-list-item-bg);
  }
}

.bb-server-orb {
  width: 8px;
  height: 8px;
  border-radius: 99px;
  border: 1.5px solid var(--bs-border-color);
  background-color: transparent;

  &.bb-server-orb-active {
    border-color: var(--bs-success);
    background-color: var(--bs-success);
  }
}
