.btn-outline-secondary {
  display: inline-flex;
  align-items: center;

  .btn-icon,
  .btn-text {
    display: inline-flex;
    align-items: center;
  }

  .btn-icon {
    margin-inline-start: 0.5rem;
  }
}
