.bb-fieldset legend {
  color: var(--bb-control-placeholder);
}

.row > div:first-child:not(.col-12) {
  color: var(--bb-control-placeholder);
  font-size: 0.8125rem;
}

input[type='number'].form-control {
  max-width: 160px;
  text-align: right;
  font-variant-numeric: tabular-nums;
}
