:host {
  --bb-sidebar-width: 300px;
}

.bb-sidebar-width {
  width: var(--bb-sidebar-width);
}

header {
  border-bottom: 1px solid var(--bs-border-color);
}

.min-h-0 {
  min-height: 0 !important;
}

.min-w-0 {
  min-width: 0 !important;
}

.bb-brand {
  position: relative;
  border-right: 1px solid var(--bs-border-color);

  .brand-title {
    font-size: 2rem;
    font-weight: 700;
  }

  small {
    color: var(--bs-secondary);
    margin-top: -10px;
    padding: 0 5px;
    display: block;
    width: calc(--bb-sidebar-width / 2);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
