@if (loading()) {
  <div class="w-100 text-center">
    <app-bb-spinner></app-bb-spinner>
    <small class="d-block mt-2">{{
      'components.modals.torrent-details.content.loading' | translate
    }}</small>
  </div>
} @else {
  <div class="d-flex justify-content-end gap-2 mb-3">
    @if (!editMode()) {
      <button type="button" class="btn btn-sm btn-secondary" (click)="enterEditMode()">
        {{ 'components.modals.torrent-details.content.button.edit' | translate }}
      </button>
    } @else {
      <button
        type="button"
        class="btn btn-sm btn-secondary"
        [disabled]="isSaving()"
        (click)="cancelEdit()"
      >
        {{ 'components.modals.torrent-details.content.button.cancel' | translate }}
      </button>
      <button
        type="button"
        class="btn btn-sm btn-primary"
        [disabled]="isSaving()"
        (click)="saveEdit()"
      >
        {{ 'components.modals.torrent-details.content.button.save' | translate }}
      </button>
    }
  </div>

  <app-bb-file-tree
    [files]="content"
    [expandAll]="false"
    [showMeta]="true"
    [mode]="editMode() ? 'edit' : 'view'"
    (filesChanged)="onFilesChanged($event)"
    (fileRenamed)="onFileRenamed($event)"
    (folderRenamed)="onFolderRenamed($event)"
  >
  </app-bb-file-tree>
}
