<div class="modal-header bb-modal-header">
  <div class="bb-modal-header__text">
    <h5 class="modal-title">
      {{ 'components.modals.limit-torrent-share.title' | translate }}
    </h5>

    <div class="small text-body-secondary mt-1 bb-hash-clamp">subtitle</div>
  </div>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <app-share-limit></app-share-limit>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" [disabled]="!canSave()">
    {{ 'general.button.set' | translate }}
  </button>
  <button type="button" class="btn btn-link" (click)="activeModal.close()">
    {{ 'general.button.cancel' | translate }}
  </button>
</div>
